.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 32px;
}

.title{
    margin-bottom: 24px;
}

.setting-div{
    padding-left: 32px;
}

#profile-picture>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image>img{
    border-radius: 50%;
    border: 2px solid seagreen;
}

.delete-image{
    margin-top: 8px;
    width: fit-content;
    height: fit-content;
    font-size: smaller;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid #f85149;
    color: #f85149;
}

.delete-image:hover{
    background-color: #f85149;
    color: white;
}

#form-wrapper{
    margin-top: 32px;
}

.form{
    width: 400px;
    height: 160px;

}

#image-upload{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 160px;
    outline: none;
    opacity: 0;
}

#input-wrapper{
    border: 4px dashed rgba(46, 139, 86, 0.521);
}

.form p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: rgba(46, 139, 86, 0.521);
    font-family: Arial;
}

.submit-button{
    margin-top: 8px;
    width: 100%;
    height: 40px;
    color: seagreen;
    border: 1px solid seagreen;
    border-radius: 8px;
}

.submit-button:hover{
    background-color: seagreen;
    color: white;
}

.menu-button{
    width: 100%;
    height: 60px;
    font-size: larger;
    color: seagreen;
    border: none;
    margin: 4px;
    border: 1px solid seagreen;
    border-radius: 5px;
    background-color: white;
}

.menu-button:hover{
    background-color: seagreen;
    color: white;
}

.menu-button-warning{
    width: 100%;
    height: 60px;
    font-size: larger;
    color:#f85149;
    border: none;
    margin: 4px;
    border: 1px solid #f85149;
    border-radius: 5px;
    background-color: white;
}

.menu-button-warning:hover{
    background-color: #f85149;
    color: white;
}

.delete-account-button{
    width: 200px;
    height: 40px;
    font-size: larger;
    color:#f85149;
    border: none;
    margin: 4px;
    border: 1px solid #f85149;
    border-radius: 5px;
    background-color: white;
}

.delete-account-button:hover{
    background-color: #f85149;
    color: white;
}